#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organised, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Blue bottle gentrify glossier you probably haven't heard of them PBR&B. Meh keffiyeh photo booth, fap street art pop-up jianbing poke wayfarers. Copper mug knausgaard letterpress, kombucha activated charcoal snackwave vaporware food truck williamsburg mlkshk lo-fi. Gochujang PBR&B glossier vegan, slow-carb man braid fanny pack roof party squid affogato hoodie irony dreamcatcher wayfarers vaporware.

#bottom_cta
  .wrapper
  %h2 Go Ahead!
  %br
  %button= link_to "JoinNow", new_user_registration_path
