<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg"%>
  </div>

  <div id="content">
    <h1>It's Mr. Stick </h1>
    <p>Microdosing helvetica next level tousled, butcher mumblecore skateboard XOXO quinoa umami green juice. Vice franzen master cleanse health goth subway tile DIY. Bitters bespoke letterpress unicorn. Meh beard narwhal, selfies pork belly chillwave meditation artisan. Squid hell of distillery, mixtape kitsch meditation everyday carry jean shorts pabst banjo XOXO health goth bicycle rights ethical actually. Bushwick williamsburg street art, lomo etsy offal readymade. Deep v letterpress swag succulents, waistcoat scenester everyday carry typewriter twee unicorn pickled knausgaard locavore.</p>
  </div>

</div>
